@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.2rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #E0E2E3;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #189EFF;
  outline: 2px solid #189EFF;
  border-radius: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-button {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
